# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyc
# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# PyTest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/

dockerignore

# Environment variables
.env

# VSCode settings
.vscode/

# Other files and folders to ignore
.DS_Store
*.swp
*.swo

pytest


